---
const pageTitle = "Sobre mi";

const identity = {
  firstName: "Carlos",
  country: "Guatemala",
  occupation: "Desarrollador WEB",
  hobbies: ["Programar", "Lectura", "Jugar videojuegos"],
};

const skills = ["HTML", "CSS", "JavaScript", "Vue", "Astro", "Redacción de documentos"];

const boolean = true;
const useractive = false;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Villatoro DEV | {pageTitle}</title>
  </head>
  <body>
    <ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/about">Sobre mi</a></li>
        <li><a href="/blog">Blog</a></li>
	</ul>
    <h1>Sobre mi 😎</h1>
    <p>He aquí algunos datos sobre mí:</p>
    <ul>
      <li>Me llamo {identity.firstName}.</li>
      <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
      {identity.hobbies.length >= 2 &&
        <li>Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
      }
    </ul>
    <p>Mis habilidades son:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>

    <div>
        <p>Yo soy un usuario activo: {useractive ? "Sí" : "No"}</p>
        {boolean && <p>Soy verdadero</p>}
    </div>
</html>